* {
    margin: 0;
  }
  

  html, body {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #header{
    width: 100%;
    text-align: center;
    background-color: #d6cecedc;
  }

  .Roster{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2vh 1vh;
    background: #005A43;
    color: #ffffff;
    font-size: 3vh;
    border: 0;
    outline: none;
    width: 75%;
    margin: 0vh auto;
    opacity: 85%;
    border: solid rgb(48, 44, 44) 1px;
  }

  .container{
    display: grid;
    
  }

  p{ 
    text-align: center;
     vertical-align:80px;
     font-size: 2.8vh;
 }

 .header {
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 4vh;
}

.background{
  background: linear-gradient(0deg, rgba(0,0,0,1) 40%, rgba(0,90,67,1) 100%);
  padding-bottom: 2vh;
}

.containerR {
  display: flex;
}

.child {
  padding: 1vh 6vh;
  flex: 1;
}  

.child:first-child {
  margin-right: 20px;
} 

.child:nth-child(2) {
  padding-left: 0;
  margin-right: 20px;
} 