* {
    margin: 0;
  }
  

  html, body {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  #header{
    width: 100%;
    text-align: center;
    background-color: #005A43;
  }

  .logo{
    margin-top: -10vh;
    margin-bottom: -10vh;
    width: 100vh;
    height: 100vh;
  }

  #text{
    font-family: Blippo, fantasy;
    font-size: 40px;
    height: 50vh;
  }

  .links{
    padding: 0px 30px;
    color: #e0e6e4;
  }

  .links:hover{
    color:black;
  }

  .fadeIn {
    animation: fadeIn ease 5s;
  }

  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  .pin{
    width: 15em;
    height: 12em;
  }

  #pin1{
    position: relative;
    transform: rotate(32deg);
    top:-300pt;
    right:220px;
  }

  #pin2{
    position: relative;
    transform: rotate(125deg);
    top:-520pt;
    right:305px;
  }

  #pin3{
    position: relative;
    transform: rotate(-34deg);
    top:-700pt;
    right:400px;
  } 

  #pin4{
    position: relative;
    transform: rotate(-70deg);
    top:-500pt;
    left:350px;
  }

  #pin5{
    position: relative;
    transform: rotate(65deg);
    top:-650pt;
    left:300px;
  }

  #pin6{
    position: relative;
    transform: rotate(-24deg);
    top:-350pt;
    left:50px;
  }

  #bImg{
  background-image: url("images/North.jpg") !important;
  opacity: .75;
  background-repeat: no-repeat;
  background-position: top center;
  height: 65vh;
  background-size: 210vh 125vh;
  margin: 0;
  }

  #bImg2{
    background-image: url("images/teampiccropped.jpg") !important;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: top center;
    height: 65vh;
    background-size: 210vh 125vh;
    margin: 0;
    }

  #uImg{
    background-image: url("images/University.jpg") !important;
    opacity: .75;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
    background-size: 220vh 90vh;
    margin: 0;
    }


 #headAbout{
    opacity: 1;
    font-size: 56px;
    text-align: center;
    color: #e6e6e6dc;
    font-weight: bold;
    /*border: solid #e0e6e4 2px;*/
 }

 #bodyAbout{
  opacity: 1;
  text-align: center;
  /*border: solid rgb(39, 38, 38) 2px;*/
  color: #e6e6e6dc;
  font-weight: bold;
 }

 .about p{
  font-size: 22px;
  padding: 0px 150px;
 }

 .about{
  background: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #e6e6e6dc;
   padding: 25px;
   line-height: 1.5;
   padding-top: 0;
   padding-left: 0;
   padding-right: 0;
 }

  p strong:first-of-type {
    font-size: 36px;
 }


 #leagueImage{
  width: 16em;
  height: 32em;
  margin-right: -2vh;
 }

 .box{
  display: flex;
  align-items: top;
 }


 #leaguebody{
   display: inline;
   margin: 0;
   padding: 1vh 2vh;
   text-align: center;
 }

 .league{
   padding-top: 10vh;
 }

 #aboutAbout{
   border: solid #e6e6e6dc 2px;
   padding-bottom: 5vh;
 }

 #practiceImage{
  width: 24em;
  height: 24em;
  margin-right: -2vh;
 }

 #practicebody{
  display: inline;
  margin: 0;
  padding: 1vh 2vh;
  text-align: center;
}

.practice{
  padding-top: 5vh;
}

.tournament{
  background-color: #005A43;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 15vh;
  padding-right: 15vh;
}

#thead{
  text-align: center;
  padding: 2vh;
  font-size: 22px;
}

#headtourn{
  font-size: 56px;
}

#tmain{
  text-align: center;
  padding-top: 5vh;
}

#schen{
  width: 18em;
  height: 18em;
}

#suffolk{
  width: 18em;
  height: 18em;
}

.pads{
  padding-right: 16vh;
  padding-left: 16vh;
  padding-bottom: 3vh;
  padding-top: 10vh;
}

.container {
  display: flex;
}

.containerR{
  position: relative;
}

.child {
  flex: 1;
}  

.child:first-child {
  margin-right: 20px;
} 

#schenBody{
  font-size: 22px;
  font-weight:bold;
}

#suffolkBody{
  font-size: 22px;
  font-weight:bold;
}

#filler{
  height:22vh;
}

#prospective{
  padding-bottom: 10vh;
}

.circlesize{
  height: 32vh;
  width: 32vh;
}

.block{
  position: absolute;
  top: 54%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #005A43;
}

#Website{
  font-size: 6vh;
  color: #005A43
}

#admit{
  font-size: 30px;
  color: #005A43
}

#life{
  font-size: 6vh;
  color: #005A43
}

.pLinks:hover{
  color:white !important;
}

#contacthead{
  text-align:center;
}

#contactT{
  font-size: 56px;
}

#contactBody{
  font-size: 22px;
  padding-top: 0px;
}

#contact{
  padding: 0px;
}

#insta{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 32vh;
  width: 32vh;
}

#mail{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 32vh;
  width: 32vh;
}

#face{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 32vh;
  width: 32vh;
}

.mediaPads:hover {
  transform: scale(1.3);
  }

.mediaPads{
  padding-right: 0vh;
  padding-left: 0vh;
  padding-bottom: 3vh;
  padding-top: 10vh;
}

.padBottom{
  padding-bottom: 8vh;
}

.calendar{
  background: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
 }

#cal{
  padding-top: 1.5vh;
}

#tCal{
  border: solid #e6e6e6dc 2px;
}